<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Male-Fashion | <%= title %></title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/custom.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">×</div>
        <div class="offcanvas__logo">
            <h2>ShawlsByMJM<span class="dot">.</span></h2>
        </div>
        <div class="offcanvas-top-bar">
            <span class="phone-number">+92 333 2701777</span>
        </div>
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><i class="fa fa-search"></i></a>
            <a href="/shopping-cart"><i class="fa fa-shopping-cart"></i> <span>0</span></a>
        </div>
        <div id="mobile-menu-wrap">
            <div class="mobile-menu">
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="#">EID COLLECTION</a>
                        <ul class="dropdown">
                            <li><a href="#">Premium Shawls</a></li>
                            <li><a href="#">Luxury Shawls</a></li>
                            <li><a href="#">Designer Shawls</a></li>
                        </ul>
                    </li>
                    <li><a href="#">SUMMER COLLECTION</a>
                        <ul class="dropdown">
                            <li><a href="#">Summer Stoles</a></li>
                            <li><a href="#">Silk Stoles</a></li>
                        </ul>
                    </li>
                    <li><a href="#">WINTER COLLECTION</a>
                        <ul class="dropdown">
                            <li><a href="#">Pashmina Shawls</a></li>
                            <li><a href="#">Cashmere Shawls</a></li>
                        </ul>
                    </li>
                    <li><a href="/shop">SHOP</a></li>
                    <li><a href="#">ACCESSORIES</a></li>
                    <li><a href="#">SEASON END SALE</a></li>
                </ul>
            </div>
        </div>
        <div class="offcanvas__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-whatsapp"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <!-- Top Bar Begin -->
        <div class="header__top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <span class="phone-number">+92 333 2701777</span>
                    </div>
                    <div class="col-6 text-right">
                        <span class="announcement">Our Most Awaited Eid Collection is Live Now. Place Order Now to Get Delivery Before Eid.</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->

        <!-- Social Icons and Logo Begin -->
        <div class="header__middle">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center social-container">
                        <div class="social-icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                            <a href="#"><i class="fa fa-whatsapp"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="text-logo">
                            <h1>ShawlsByMJM<span class="dot">.</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Social Icons and Logo End -->

        <!-- Main Navigation Begin -->
        <div class="main-navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <nav class="header__menu">
                            <ul>
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="#">EID COLLECTION</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Premium Shawls</a></li>
                                        <li><a href="#">Luxury Shawls</a></li>
                                        <li><a href="#">Designer Shawls</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">SUMMER COLLECTION</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Summer Stoles</a></li>
                                        <li><a href="#">Silk Stoles</a></li>
                                        <li><a href="#">Korean Chiffon Stoles</a></li>
                                        <li><a href="#">Lawn Stoles</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">WINTER COLLECTION</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Swiss Lawn Chaddar</a></li>
                                        <li><a href="#">Embroidered Chaddar</a></li>
                                        <li><a href="#">Stone Work Chaddar</a></li>
                                    </ul>
                                </li>
                                <li><a href="/shop">SHOP</a></li>
                                <li><a href="#">ACCESSORIES</a></li>
                                <li><a href="#">SEASON END SALE</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3 text-right">
                        <div class="header__nav__option">
                            <a href="#" class="search-icon"><i class="fa fa-search"></i></a>
                            <a href="/shopping-cart" class="cart-icon"><i class="fa fa-shopping-cart"></i> <span>0</span></a>
                        </div>
                    </div>
                </div>
                <div class="mobile-header-buttons">
                    <div class="canvas__open"><i class="fa fa-bars"></i></div>
                    <div class="mobile-cart">
                        <a href="/shopping-cart"><i class="fa fa-shopping-cart"></i> <span>0</span></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Navigation End -->
    </header>
    <!-- Header Section End -->

    <!-- Mobile Menu Toggle Script -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Mobile menu toggle
            const canvasOpen = document.querySelector('.canvas__open');
            const offcanvasMenuOverlay = document.querySelector('.offcanvas-menu-overlay');
            const offcanvasMenuWrapper = document.querySelector('.offcanvas-menu-wrapper');
            const offcanvasClose = document.querySelector('.offcanvas__close');
            
            // Open mobile menu
            canvasOpen.addEventListener('click', function() {
                offcanvasMenuWrapper.classList.add('active');
                offcanvasMenuOverlay.classList.add('active');
            });
            
            // Close mobile menu
            offcanvasClose.addEventListener('click', function() {
                offcanvasMenuWrapper.classList.remove('active');
                offcanvasMenuOverlay.classList.remove('active');
            });
            
            offcanvasMenuOverlay.addEventListener('click', function() {
                offcanvasMenuWrapper.classList.remove('active');
                offcanvasMenuOverlay.classList.remove('active');
            });
            
            // Mobile dropdown toggle
            const mobileMenuItems = document.querySelectorAll('.mobile-menu ul li');
            mobileMenuItems.forEach(function(item) {
                if (item.querySelector('.dropdown')) {
                    const link = item.querySelector('a');
                    const dropdown = item.querySelector('.dropdown');
                    
                    link.addEventListener('click', function(e) {
                        if (dropdown) {
                            e.preventDefault();
                            dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
                        }
                    });
                }
            });
        });
    </script>
</body>
</html> 
